@CHARSET "UTF-8";

body {
	background-color: #0080ff;
	font-family: arial,helvetica,sans-serif;
}

label {
	font-weight: bold;
}

h1 {
	font-family: arial;
	font: 24px;
	color: darkgreen; 
	border: 2px ridge #ff8000;
}

h2 {
	color : #400000;
	text-align: center;
	border : 2px ridge #808000;
	padding : 2px;
}

h3 {
	color : #400000;
	text-align: center;
	border : 2px ridge #808000;
	padding : 2px;
}

a {
	align: center;
	color: #ff8080;
}

div {
    width: 900px;
    margin: auto;
	font-family: verdana;
    font-size: 20px;
    padding: 25px 50px;
}

footer {
    background-color: lightgreen;
    width: 350px;
    margin: auto;
}


p.footer {
	font-family: verdana;
    font-size: 12px;
    color: magenta;
}