<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Blue's Web Page</title>
    </head>
    <body>
        <h1>Your almost there, just a few more clicks...</h1>
        <p><a th:href="@{/hello}">Login</a> 
        </p>
        <p> 
        Please login with the default username/password and then preceed to creating your 
        own new username and password.   
		</p>
    </body>
</html>