<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{cdd/normalize.css}" rel="stylesheet"/>
	
</head>
    <body>
              
       <div align="center">   
           		
        <h1>Create a User Login:</h1>  
        
    	<a href="http://sample-env-3.i3ywvhk4um.us-west-2.elasticbeanstalk.com/">    
		<img th:src="@{/images/Larrow.gif}" src="../images/Larrow.gif" 
		width="40" height="25" alt="home"/></a>
		
        <form action="/createLogin/add" method="get">        
       		
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>  
            
            <div><input type="submit" value="Create user"/></div>
        </form>
        </div>
        
        <div align="center">
        <p>Once you have  new username and password, go ahead and sign out of the default account 
        <a href="http://sample-env-3.i3ywvhk4um.us-west-2.elasticbeanstalk.com/login">here</a> and sign in with yours.
        </p>
        </div>
    </body>
</html>