<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Jason's Web Page</title>
        
   <style type="text/css">
        h1 {font-family: arial; font: 24px; color: darkgreen; border: 2px ridge #ff8000;}
        body{width: 350px; height: 200px; margin: auto; padding : 200px; font: 16px;}
        div{align: center;}
        a{align: center; color: #ff8080;}
        </style>
    </head>
    
     <body bgcolor="#0080ff" text="#400000">
    
        <div th:if="${param.error}" align="center">
            Invalid username and password.
        </div>
        
        <div th:if="${param.logout}" align="center">
            You have been logged out.
        </div>
        
        <div align="center">
        <h1>Login</h1>
        <p>
        Please click <em>Sign In</em> with the default account to continue.
        </p>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" value="username"/> </label></div>
            <div><label> Password: <input type="password" name="password" value="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        </div>
    </body>
</html>